# Ignore configuration files that may contain sensitive information.
/vendor/

# Ignor composer working files
composer.phar
composer.lock

# Ignor testing working files
tests/phpunit.xml

# Ignor config settings with sensative account creds
config.inc

# Ignor related messagebroker-phplib library
messagebroker-phplib

# Ignor Drupal 7.x producer module
message_broker_producer
