# Ignore system files
.DS_Store

# Ignore configuration files that may contain sensitive information.
/vendor/

# Ignore composer working files
composer.phar
composer.lock

# Ignore testing working files
tests/phpunit.xml
*.csv

# Ignore config settings with sensative account creds
mb-secure-config.inc
messagebroker-config

# Ignore related messagebroker-phplib and UserAPI libraries
messagebroker-phplib
mb-users-api

# Ignore Drupal 7.x producer module
message_broker_producer

# Ignore consumer and producer apps
mbc-transactional-email
mbc-registration-email
mbc-user-campaign
mbc-mailchimp-resubscribe
mbc-userAPI-campaignActivity
mbc-userAPI-registration
mbc-user-event
mbc-heartbeat
mbc-digest-email
mbc-campaign-cache
mbc-user-import
mbc-registration-mobile
mbc-activityStats
mbp-mailchimp-webhooks
mbp-user-event
mbp-heartbeat
mb-campaigns-api
mbc-campaign-cache
mbp-user-digest
mbp-user-import
